body {
    background-color: #414141;
}
h1 {
    border-style: double solid;
    border-color: green red goldenrod red;
    border-width: 2px 7px 10px 2px;
    padding: 1rem;
    color: #fafafa;
    text-align: center;
}
p.one {
    border-top-style: dotted;
    border-right-style: solid;
    border-bottom-style: dotted;
    border-left-style: solid;
    padding: 0.5rem;
    color: #fafafa
}
p.two {
    border-style: dotted solid;
    padding: 0.5rem;
    color: #fafafa;
}

p.three {
    border-style: solid double groove dashed;
    border-color: red green yellow violet;
    padding: 0.5rem;
    color: #fafafa;
}
p.four {
    border-style: inset solid outset;
    border-color: orange red blue;
    padding: 0.5rem;
    color: #fafafa;
}
p.five {
    border-style: solid double;
    border-color: blue red;
    padding: 0.5rem;
    color: #fafafa;
}
p.six {
    border-style: double;
    border-color: ornage;
    padding: 0.5rem;
    color:#fafafa;
}

p.uno {
    border: 3px double green;
    padding: 0.5rem;
    color: #fafafa;
}
p.dos {
    border-left: 6px solid red;
    padding: 0.5rem;
    color: #fafafa;
}
p.tres {
    border-bottom: 6px solid red;
    padding: 0.5rem;
    color: #fafafa;
}
