body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
ul li {
    float: left;
}
ul li a {
    display: block;
    padding: 17px 22px;
    color: #666;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.active {
    color: #fff;
    background-color: #04AA6D;
}
ul li a:hover:not(.active) {
    background-color: #ddd;
}
