body {
    margin: 0;
    background-color: #99ccff;
}

/* Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0073e6;
}
li {
    float: left;
    border-right: 1px solid #ddd;
}
ul li a {
    display: block;
    padding: 15px 19px;
    color: #fff;
    background-color: #0073e6;
    text-decoration: none;
    text-align: center;
    font-family: tahoma, Geneva;
}
ul li a:hover:not(.active) {
    background-color: #4da6ff;
}
.active {
    background-color: #004080;
}
ul li:last-child {
    float: right;
    border-right: none;
}

/* content text information */
.content {
    padding: 20px;
    height: 2000px;
}
