
/* selector class="" */
.center {
    text-align: center;
    color: blue;
}

/* selector element.class */
p.ele {
    text-align: right;
    font-size: 2rem;
    color: green;
}

/* selector element h3 */
h3 {
    border: 3px solid aqua;
    color: violet;
    display: inline-block;
    padding: 1rem;
    background-color: gray;
}

/* selector de grupo la coma los incluye a todos */
h4, h5, h6 {
    text-align: center;
    /* display: inline-block; */
    border: 2px solid gray;
    color: bisque;
    background-color: #1a1a1a;
    padding: 2rem;
}